.slider_wrapper{
   .admin_slider_post_select{
      padding: 10px 0px;
      label{
         display: block;
      }
      select{
      }
   }
   .admin_slider_post_type_select{
      padding: 10px 0px;
      label{
         display: block;
      }
      select{
      }
   }
   .admin_slider_button_text{
      padding: 10px 0px;
      label{
         display: block;
      }
      select{
      }
   }
   .admin_slider_colors{
      padding: 10px 0px;
      label{
         display: block;
      }
      select{
      }
   }
}
